<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cn.waitwalker.badge_manager">
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE "/>
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />
</manifest>
